package cli

import (
	"errors"
	"fmt"
	"io"
)

type App struct {
	registry *Registry
}

func NewApp(reg *Registry) *App {
	return &App{registry: reg}
}

type Env struct {
	Stdin  io.Reader
	Stdout io.Writer
	Stderr io.Writer
}

func (a *App) Run(env *Env, args []string) error {
	if len(args) == 0 {
		return errors.New("no command specified")
	}

	cmd, ok := a.registry.Get(args[0])
	if !ok {
		return fmt.Errorf("unknown command: %s", args[0])
	}

	return cmd.Run(env, args)
}
